@import "_mixins.less";

.about-us {
  .centered-container();
  margin-bottom: 9rem;
  padding-top: 3.6rem;

  &__infographics {
    display: none;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 600px) {
      display: flex;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__image {
    display: flex;
    justify-content: center;

    > img {
      max-width: 100%;
    }
  }

  &__logo {
    display: none;
    max-width: 24rem;
    margin-bottom: 2.4rem;

    @media screen and (min-width: 600px) {
      display: block;
    }
  }

  &__title {
    margin-bottom: 0.8rem;
  }

  &__description {
    max-width: 101rem;
  }
}