@import "_colors.less";
@import "_sizes.less";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  font-weight: 500;
  line-height: 1.25;
}

body {
  min-width: var(--min-page-width);
  font-size: 1.8rem;
  color: var(--blue-100);

  &.mobileMenuActive {
    overflow: hidden;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--cyan-100);

  &:hover {
    text-decoration: underline;
    color: var(--cyan-100);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 100%;
  word-wrap: break-word;
  font-weight: bold;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.6rem;
}

input,
button,
submit {
  font-family: inherit;
}