.main-menu {
  margin: 0;
  padding: 0;

  @media screen and (min-width: 1380px) {
    align-self: center;
    margin-left: 2.8rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 1380px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__item {
    display: block;
  }

  &__link {
    display: block;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--cyan-100);
    white-space: nowrap;
  }
}
