@import "_mixins.less";

.main-header {
  .centered-container();
  display: grid;
  column-gap: 4rem;
  grid-template-columns: min-content min-content auto min-content;
  align-items: center;
  padding-top: 2.1rem;
  padding-bottom: 1.7rem;
}
