@import "_mixins.less";

.main-footer {
  .centered-container();
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-areas: "logo actions"
                       "nav  nav";
  padding-top: 4rem;

  &__logo {
    grid-area: logo;
  }
  &__actions {
    grid-area: actions;
  }
  &__nav {
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.2rem;
    padding-bottom: 6.2rem;
    column-gap: 1.6rem;
  }
}
