<section class="about-us">
  <picture class="about-us__image">
    <source srcset="/img/dummy/about.webp, /img/dummy/about-x2.webp 2x"/>
    <img srcset="/img/dummy/about.png, /img/dummy/about-x2.png 2x" src="/img/dummy/about.png" alt=""/>
  </picture>
  <div class="about-us__content">
    <article class="about-us__item">
      <h3 class="about-us__title">
        ExpoPromoter
      </h3>
      <p class="about-us__text">
        Service for distribution of tickets and expo-booths for the trade shows. Active market: China.
      </p>
    </article>
    <article class="about-us__item">
      <h3 class="about-us__title">
        TicketForEvent
      </h3>
      <p class="about-us__text">
        Platform for online registration service build-up and ticket sales for business events. Active markets: Russia, Ukraine, Europe.
      </p>
    </article>
  </div>
</section>