<section class="are-you-organizer">
  <div class="are-you-organizer__wrapper">
    <h2 class="are-you-organizer__title">Вы организатор мероприятия?</h2>
    <p class="are-you-organizer__text">
      Продавайте билеты на свои мероприятия быстро и выгодно, без регистрации и смс!<br/> Сто тысяч партнеров помогут вам окупить аренду Олимпийского стадиона уже сейчас!
    </p>
    <div>
      <a class="form-button" href="#">
        Продавать билеты
      </a>
      <a class="form-button  form-button--secondary" href="#">
        Стать партнером
      </a>
    </div>
  </div>
</section>