{% set clients = [
    {
      logo: "client-1",
      name: "Игорь Овчаренко",
      organization: "IDCEE",
      text: "<p>Мы неизменно используем TicketForEvent на протяжении 3-х лет, за это время смогли убедиться в надежности и профессиональности нашего тикетингового партнера, который имеет положительную деловую репутацию. Сервис позволил нам регистрировать посетителей онлайн, обеспечить продажу билетов участникам из 31 страны мира, включая Мексику, США, Южную Африку, Бразилию, Польшу и страны Балтии, а также качественно обеспечить check-in для более 2 000 посетителей. С помощью сервиса TicketForEvent, мы смогли предоставить нашим посетителям возможность быстро и легко стать участником беспрецедентного для Центральной и Восточной Европы события IDCEE.</p>"
    },
    {
      logo: "client-2",
      name: "Шадрин Евгений",
      organization: "Супер Drift Битва",
      text: "<p>Нам необходимо было сделать процесс приобретения билета максимально комфортным для наших зрителей не только из Красноярска, но и с других регионов. Справиться с этой задачей нам помог сервис TicketForEvent! Кроме простого и интуитивно понятного интерфейса, порадовали дополнительные «фишки»: приложение для соц. сетей, интерактивная карта трибун, кнопка для интеграции на сайт.</p><p>Если у вас есть вопрос, как продавать электронные билеты, то TicketForEvent решит этот вопрос «под ключ».</p>"
    },
    {
      logo: "client-3",
      name: "Даниил Дмитриев",
      organization: "Независимая Федерация Реслинга (НФР)",
      text: "<p>Дирекция Всемирного Форума Снега выражает благодарность за идею и воплощение проекта TicketforEvent. Это значительно повысило конкурентоспособность нашего мероприятия.</p><p>Особенно, хотим отметить квалифицированное и доступное объяснение всех нюансов работы сервиса, клиентоориентированность, быстродействие и крайнюю доброжелательность в лице сотрудников проекта. Работа с клиентом проводится на высочайшем уровне!</p>"
    }
] %}

<section class="clients-reviews">
  {% set sectionHeader = {
    title: "Отзывы организаторов"
  } %}
  {% include "./_section-header.html" %}
  
  <div class="reviews-list">
    {% for item in clients %}
      <article class="reviews-list__item">
        <picture class="reviews-list__logo">
          <source type="image/webp" srcset="/dist/img/dummy/clients/{{item.logo}}.webp" />
          <img srcset="/dist/img/dummy/clients/{{item.logo}}.png" src="/dist/img/dummy/clients/{{item.logo}}.png" alt="{{ item.organization }}" />
        </picture>
        <header class="reviews-list__header">
          <h4 class="reviews-list__name">
            {{ item.organizationName }}
          </h4>
          <div class="reviews-list__organization">
            <a href="">{{ item.organizationLink }}</a>
          </div>
        </header>
        <div class="reviews-list__header">
          <p class="reviews-list__name">
            {{ item.name }}
          </p>
          {% if item.organization %}
            <p class="reviews-list__organization">
              {{ item.organization }}
            </p>
          {% endif %}
        </div>
        <div class="reviews-list__text">
          {{ item.text | safe }}
        </div>
      </article>
    {% endfor %}
  </div>
</section>