{% set clients = [{
      name: "Имя партнера",
      img: "BeijingHivenExhibition"
    },
    {
      name: "Имя партнера",
      img: "CantonUniversal"
    },
    {
      name: "Имя партнера",
      img: "CartoonFair"
    },
    {
      name: "Имя партнера",
      img: "ChinaKidsExpo"
    },
    {
      name: "Имя партнера",
      img: "CHINASPORTINGGOODSFEDERATION"
    },
    {
      name: "Имя партнера",
      img: "CIECExhibitionCompanyLimited"
    },
    {
      name: "Имя партнера",
      img: "ciodpa"
    },
    {
      name: "Имя партнера",
      img: "comexposium"
    },
    {
      name: "Имя партнера",
      img: "DonnorExhibition"
    },
    {
      name: "Имя партнера",
      img: "Fair-Canton-logo"
    },
    {
      name: "Имя партнера",
      img: "GuangzhouYifanExhibitionService"
    },
    {
      name: "Имя партнера",
      img: "HaimingInternationalExhibitionGroup"
    },
    {
      name: "Имя партнера",
      img: "HannoverMilano"
    },
    {
      name: "Имя партнера",
      img: "MadeinChina"
    },
    {
      name: "Имя партнера",
      img: "messedusseldorflogo"
    },
    {
      name: "Имя партнера",
      img: "MesseFrankfurt"
    },
    {
      name: "Имя партнера",
      img: "messemuencheninternational"
    },
    {
      name: "Имя партнера",
      img: "PolyJinhanExhibition"
    },
    {
      name: "Имя партнера",
      img: "reed-exhibitions"
    },
    {
      name: "Имя партнера",
      img: "ReedSinopharmExhibitions"
    },
    {
      name: "Имя партнера",
      img: "ReedSinopharmExhibitions-1"
    },
    {
      name: "Имя партнера",
      img: "ShanghaiInternationalExhibition"
    },
    {
      name: "Имя партнера",
      img: "ShanghaiInternationalExhibitionCenterINTEX"
    },
    {
      name: "Имя партнера",
      img: "SinoExpo"
    },
    {
      name: "Имя партнера",
      img: "UBMSinoexpo"
    },
    {
      name: "Имя партнера",
      img: "VNU"
    },
    {
      name: "Имя партнера",
      img: "world-education-services-wes"
    },
    {
      name: "Имя партнера",
      img: "YASNInternationalExhibition"
    },
    {
      name: "Имя партнера",
      img: "ZhenweiExhibitionGroup"
    },
    {
      name: "Имя партнера",
      img: "zmexpologo"
    }
] %}


<section class="clients-slider">
  {% set sectionHeader = {
    title: clientSlider.title,
    description:  clientSlider.description
  } %}
  {% include "./_section-header.html" %}

  <div class="swiper" data-section="our-clients">
    <div class="swiper-wrapper">
      {% for item in clients %}
        <div class="swiper-slide">
          <figure class="clients-slider__item">
            <picture class="clients-slider__image">
              <source  type="image/webp" srcset="/dist/img/dummy/clients/{{item.img}}.webp, /dist/img/dummy/clients/{{item.img}}@2x.webp 2x"/>
              <img srcset="/dist/img/dummy/clients/{{item.img}}.png, /dist/img/dummy/clients/{{item.img}}@2x.png 2x" src="/dist/img/dummy/clients/{{item.img}}.png" alt="{{item.name}}"/>
            </picture>
          </figure>
        </div>
      {% endfor %}
    </div> 
    <div class="swiper-pagination"></div>
  </div>
</section>