{% set clients = [
    {
      name: "Имя партнера",
      img: "client-1"
    },
    {
      name: "Имя партнера",
      img: "client-2"
    },
    {
      name: "Имя партнера",
      img: "client-3"
    },
    {
      name: "Имя партнера",
      img: "client-4"
    },
    {
      name: "Имя партнера",
      img: "client-5"
    },
    {
      name: "Имя партнера",
      img: "client-6"
    },
    {
      name: "Имя партнера",
      img: "client-7"
    },
    {
      name: "Имя партнера",
      img: "client-8"
    },
    {
      name: "Имя партнера",
      img: "client-9"
    },
    {
      name: "Имя партнера",
      img: "client-10"
    },
    {
      name: "Имя партнера",
      img: "client-11"
    },
    {
      name: "Имя партнера",
      img: "client-12"
    },
    {
      name: "Имя партнера",
      img: "client-13"
    },
    {
      name: "Имя партнера",
      img: "client-14"
    },
    {
      name: "Имя партнера",
      img: "client-15"
    }
] %}

<section class="clients-slider">
  {% set sectionHeader = {
    title: clientSlider.title,
    description:  clientSlider.description
  } %}
  {% include "./_section-header.html" %}

  <div class="swiper" data-section="our-clients">
    <div class="swiper-wrapper">
      {% for item in clients %}
        <div class="swiper-slide">
          <figure class="clients-slider__item">
            <picture class="clients-slider__image">
              <source  type="image/webp" srcset="/dist/img/dummy/clients/{{item.img}}.webp"/>
              <img src="/dist/img/dummy/clients/{{item.img}}.png" alt="{{item.name}}"/>
            </picture>
          </figure>
        </div>
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>