<section class="footer-copyright">
  <div class="footer-copyright__wrapper">
    <p class="footer-copyright__text">
      2021 © BILETUM, 2021
    </p>
    <section class="footer-social">
      <img src="/img/social-icons/wechat-light.svg" alt="">
      <img src="/img/social-icons/vk-light.svg" alt="">
      <img src="/img/social-icons/ln-light.svg" alt="">
      <img src="/img/social-icons/fb-light.svg" alt="">
      <img src="/img/social-icons/in-light.svg" alt="">
    </section>
  </div>
</section>