<section class="join-us">
  <header>
    <h2>
      Присоединяйтесь к Билетуму!
    </h2>
    <p>
      Оцените живую демонстрацию, получите ответы на свои вопросы и узнайте, почему Biletum - правильный выбор для вашего мероприятия
    </p>
  </header>
  <div>
    <picture>
      <source srcset="/img/dummy/join-us.avif, /img/dummy/join-us-x2.avif 2x"/>
      <source srcset="/img/dummy/join-us.webp, /img/dummy/join-us-x2.webp 2x"/>
      <img srcset="/img/dummy/join-us.png, /img/dummy/join-us-x2.png 2x" src="/img/dummy/join-us.png" alt="Event Title"/>
    </picture>
    <form action="" method="post"></form>
  </div>
</section>