<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biletum</title>
    <meta name="description" content="">
    <meta property="og:description" content="">
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="">
    <meta property="og:image:height" content="">
    <meta property="og:site_name" content="">
    <meta property="og:locale" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:card" content="">
    <meta property="twitter:site" content="">

    <link rel="canonical" href="">
    <link rel="alternate" href="" hreflang="x-default">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">

    <link href="/dist/style.css" rel="stylesheet">

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="/js/dropmic.min.js"></script>
  </head>
  <body>
    <div class="main-layout">
      <div class="main-layout__header">
        {% include "./_main-header.html" %}
      </div>
      <main class="main-layout__content">
        {% block content %}{% endblock %}
      </main>
      <div class="main-layout__footer">
        {% include "./_main-footer.html" %}
        {% include "./_copyright.html" %}
      </div>
    </div>

    {% include "./____tech-menu.html" %}

    {% block jsPerPage %}{% endblock %}
    <script>
      /* Код для дропдаунов */
      if(document.querySelector('[data-dropdown]')) {
        const dropmic = new Dropmic(document.querySelector('[data-dropdown]'));
      }

      /* Код для каруселей партнеров */
      if(document.querySelector('[data-section="our-clients"]')) {
        const swiper = new Swiper('[data-section="our-clients"]', {
          breakpoints: {
            230: {
              slidesPerView: 2,
              slidesPerGroup: 2,
              loopAdditionalSlides: 2
            },
            660: {
              slidesPerView: 3,
              slidesPerGroup: 3,
              loopAdditionalSlides: 3
            },
            890: {
              slidesPerView: 4,
              slidesPerGroup: 4,
              loopAdditionalSlides: 4
            },
            1110: {
              slidesPerView: 5,
              slidesPerGroup: 5,
              loopAdditionalSlides: 5
            },
            1340: {
              slidesPerView: 6,
              slidesPerGroup: 6,
              loopAdditionalSlides: 6
            }
          },
          spaceBetween: 30,
          loop: true,
          pagination: {
            el: '.swiper-pagination',
            clickable: true
          }
        });
      };

      /* Код для мобильного меню */
      const mobileMenuButton = document.querySelector('[data-nemu-button]');
      mobileMenuButton.addEventListener('click', () => {
        document.querySelector('body').classList.toggle("mobileMenuActive");
      });
    </script>
  </body>
</html>