<header
  class="main-header">
  <!-- Logo block -->
  <a class="biletum-logo" href="/">
    <img src="/img/biletum-logo.svg" alt="">
  </a>
  <!-- /Logo block -->
  <!-- Main nav -->
  <nav class="main-menu">
    <ul class="main-menu__list">
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">
          Организаторам
        </a>
      </li>
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">
          Партнерам
        </a>
      </li>
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">
          Афиша Мероприятий
        </a>
      </li>
    </ul>
  </nav>
  <!-- /Main nav -->
  <!-- Lang switcher -->
  <section></section>
  <!-- /Lang switcher -->
  <!-- Header-controls -->
  <section class="buttons-group">
    <a class="bl-button  bl-button--secondary" href="#">
      Вход/Регистрация
    </a>
    <a class="bl-button" href="#">
      Создать мероприятие
    </a>
  </section>
  <!-- /Header-controlsr -->
</header>