<footer class="main-footer">
  <section
    class="main-footer__logo">
    <!-- Logo block -->
    <a class="biletum-logo" href="/">
      <img src="/dist/img/biletum-logo-white.svg" alt="">
    </a>
    <!-- /Logo block -->
  </section>
  <div class="main-footer__actions">
    <section class="buttons-group">
      <button class="form-button  form-button--secondary-dark" data-micromodal-trigger="modal-confirmed">
        Вход/Регистрация
      </button>
      <a class="form-button  form-button--dark" href="/dist/registration.html">
        Создать мероприятие
      </a>
    </section>
  </div>
  <div class="main-footer__nav">
    <section class="footer-nav">
      <header class="footer-nav__title">Организаторам</header>
      <nav class="footer-nav__list">
        <a class="footer-nav__item" href="#">
          Сервис продажи билетов
        </a>
        <a class="footer-nav__item" href="#">
          Дистрибуция билетов
        </a>
        <a class="footer-nav__item" href="#">
          Процессинг
        </a>
        <a class="footer-nav__item" href="#">
          Платформы для проведения
        </a>
      </nav>
    </section>
    <section class="footer-nav">
      <header class="footer-nav__title">Партнерам</header>
      <nav class="footer-nav__list">
        <a class="footer-nav__item" href="#">
          Дистрибуция билетов
        </a>
        <a class="footer-nav__item" href="#">
          Привлечение организаторов
        </a>
      </nav>
    </section>
    <section class="footer-nav">
      <header class="footer-nav__title">Покупателям</header>
      <nav class="footer-nav__list">
        <a class="footer-nav__item" href="#">
          Каталог мероприятий
        </a>
        <a class="footer-nav__item" href="#">
          Личный кабинет
        </a>
      </nav>
    </section>
    <section class="footer-nav">
      <header class="footer-nav__title">О нас</header>
      <nav class="footer-nav__list">
        <a class="footer-nav__item" href="#">
          О компании
        </a>
        <a class="footer-nav__item" href="#">
          Блог
        </a>
        <a class="footer-nav__item" href="#">
          Контакты
        </a>
      </nav>
    </section>
  </div>
</footer>