<article class="pricing-section">
  <div class="pricing-section__wrapper">
    <picture class="pricing-section__image">
      <source srcset="/dist/img/dummy/{{ pricing.image }}.webp, /img/dummy/{{ pricing.image }}-x2.webp 2x"/>
      <img srcset="/dist/img/dummy/{{ pricing.image }}.png, /img/dummy/{{ pricing.image }}-x2.png 2x" src="/dist/img/dummy/{{ pricing.image }}.png" alt="{{ pricing.title }}"/>
    </picture>
    <div class="pricing-section__content">
      <h2 class="pricing-section__title">
        {{ pricing.title }}
      </h2>
      <div class="pricing-section__text">
        {{ pricing.text | safe }}
      </div>
      <a class="form-button" href="#">Начать продажу билетов</a>
    </div>
  </div>
</article>