
<article class="promo-section  {% if promoData.isLight %}promo-section--light{% endif %}  {% if promoData.isReverse %}promo-section--reverse{% endif %}">
  <div class="promo-section__wrapper">
    <div class="promo-section__content">
      {% if promoData.toWhom %}
        <div class="promo-section__to-whom">
          {{ promoData.toWhom }}
        </div>
      {% endif %}
      <h2 class="promo-section__title">
        {{ promoData.title }}
      </h2>
      <p class="promo-section__text">
        {{ promoData.text | safe }}
      </p>
      {% if promoData.buttons %}
        <div class="buttons-group">
          <a class="form-button" href="#">Создать сервис</a>
          <a class="form-button  form-button--secondary" href="#">Подробнее</a>
        </div>
      {% endif %}
    </div>
    <picture class="promo-section__image">
      <source  type="image/webp" srcset="/dist/img/dummy/promo-section/{{ promo.image }}.webp, /dist/img/dummy/promo-section/{{ promo.image }}-x2.webp 2x"/>
      <img srcset="/dist/img/dummy/promo-section/{{ promo.image }}.png, /dist/img/dummy/promo-section/{{ promo.image }}-x2.png 2x" src="/dist/img/dummy/promo-section/{{ promo.image }}-x2.png" alt="Билетный сервис"/>
    </picture>
  </div>
</article>