{% extends "blocks/_layout.html" %}
{% set tiles = [
    {
      tags: ["Tag content","Tag content","Tag content","Tag content"]
    },
    {
      tags: ["Tag content","Tag content","Tag content","Tag content"]
    },
    {
      tags: ["Tag content","Tag content","Tag content","Tag content"]
    },
    {
      tags: ["Tag content","Tag content","Tag content","Tag content"]
    },
    {
      tags: ["Tag content","Tag content","Tag content","Tag content"]
    },
    {
      tags: ["Tag content","Tag content","Tag content","Tag content"]
    },
    {
      tags: ["Tag content","Tag content","Tag content","Tag content"]
    },
    {
      tags: ["Tag content","Tag content","Tag content","Tag content"]
    },
    {
      tags: ["Tag content","Tag content","Tag content","Tag content"]
    }
] %}
{% block content %}
  {% include "./blocks/_top-section.html" %}
  <section class="tiles-grid">
    <header class="section-header">
      <h2 class="section-header__title">
        В Киеве сегодня
      </h2>
      <a class="section-header__link" href="#">
        Показать Все
      </a>
    </header>
    <div class="tiles-grid__content">
      {% for item in tiles %}
        <article class="tile-card ">
          <picture class="tile-card__image">
            <source srcset="/img/dummy/tile-card.avif"/>
            <source srcset="/img/dummy/tile-card.webp"/>
            <img src="/img/dummy/tile-card.png" alt="Event Title"/>
          </picture>
          <div class="tile-card__content">
            <time class="tile-card__date">21.21.2021</time>
            <h3 class="tile-card__title">Event Title</h3>
            <p class="tile-card__description">
              Text Content
            </p>
            <section class="tags-list">
              {% for tag in item.tags %}
                <div class="tags-list__item">
                  {{ tag }}
                </div>
              {% endfor %}
            </section>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>
  <section class="are-you-organizer">
    <div class="are-you-organizer__wrapper">
      <h2 class="are-you-organizer__title">Вы организатор мероприятия?</h2>
      <p class="are-you-organizer__text">
        Продавайте билеты на свои мероприятия быстро и выгодно, без регистрации и смс!<br/> Сто тысяч партнеров помогут вам окупить аренду Олимпийского стадиона уже сейчас!
      </p>
      <div>
        <a class="bl-button" href="#">
          Продавать билеты
        </a>
        <a class="bl-button  bl-button--secondary" href="#">
          Стать партнером
        </a>
      </div>
    </div>
  </section>
  <header class="section-header">
    <h2 class="section-header__title">
      Мебельные мероприятия
    </h2>
    <a class="section-header__link" href="#">
      Показать Все
    </a>
  </header>
  <div class="swiper" data-section="tiles">
    <div class="swiper-wrapper">
      {% for item in tiles %}
        <div class="swiper-slide">
          <article class="tile-card ">
            <picture class="tile-card__image">
              <source srcset="/img/dummy/tile-card.avif"/>
              <source srcset="/img/dummy/tile-card.webp"/>
              <img src="/img/dummy/tile-card.png" alt="Event Title"/>
            </picture>
            <div class="tile-card__content">
              <time class="tile-card__date">21.21.2021</time>
              <h3 class="tile-card__title">Event Title</h3>
              <p class="tile-card__description">
                Text Content
              </p>
              <section class="tags-list">
                {% for tag in item.tags %}
                  <div class="tags-list__item">
                    {{ tag }}
                  </div>
                {% endfor %}
              </section>
            </div>
          </article>
        </div>
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
{% endblock %}
{% block jsPerPage %}
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper('[data-section="tiles"]', {
      spaceBetween: 8,
      slidesPerView: 4,
      slidesPerGroup: 4,
      loopAdditionalSlides: 4,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      }
    });
  </script>
{% endblock %}