{% extends "blocks/_layout.html" %}

{% block content %}
  <!-- topSection -->
  {% set topSectionData = {
    title: "Title",
    text: "Text Content",
    bgImage: "/img/dummy/top-section-bg.webp",
    buttons: true,
    isInverse: true
  } %}
  {% include "./blocks/_top-section.html" %}
  <!-- ****** -->

  <section class="tiles-grid">
    {% set sectionHeader = {
      title: "В Киеве сегодня",
      link: true
    } %}
    {% include "./blocks/_section-header.html" %}
    <div class="tiles-grid__content">
      {% for item in range(0, 13) %}
        {% include "./blocks/_tile-card.html" %}
      {% endfor %}
    </div>
  </section>

  {% include "./blocks/_are-you-organizer.html" %}

  <section class="event-slider">
    {% set sectionHeader = {
      title: "Мебельные мероприятия",
      link: true
    } %}
    {% include "./blocks/_section-header.html" %}
    <div class="swiper" data-section="tiles">
      <div class="swiper-wrapper">
        {% for item in range(0, 13) %}
          <div class="swiper-slide">
            {% include "./blocks/_tile-card.html" %}
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <section class="event-slider">
    {% set sectionHeader = {
      title: "Мебельные мероприятия",
      link: true
    } %}
    {% include "./blocks/_section-header.html" %}

    <div class="swiper" data-section="tiles">
      <div class="swiper-wrapper">
        {% for item in range(0, 13) %}
          <div class="swiper-slide">
            {% include "./blocks/_tile-card.html" %}
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <script>
    const swiper = new Swiper('[data-section="tiles"]', {
        breakpoints: {
          320: {
            slidesPerView: 1,
            slidesPerGroup: 1,
            loopAdditionalSlides: 1
          },
          640: {
            slidesPerView: 2,
            slidesPerGroup: 2,
            loopAdditionalSlides: 2
          },
          960: {
            slidesPerView: 3,
            slidesPerGroup: 3,
            loopAdditionalSlides: 3
          },
          1280: {
            slidesPerView: 4,
            slidesPerGroup: 4,
            loopAdditionalSlides: 4
          }
        },
        spaceBetween: 8,
        loop: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        }
      }
    );
  </script>
{% endblock %}