{% extends "blocks/_layout.html" %}

{% block content %}
  {% set topSectionData = {
    title: "Продажа билетов",
    text: "...теперь станет проще.",
    buttons: true
  } %}
  {% include "./blocks/_top-section.html" %}

  <section class="promo-list">
    {% set promos = [
        {
          toWhom: "Организатору",
          title: "Создавайте мероприятие",
          text: "Легко и быстро регистрируйте и создавайте мероприятие. В личном кабинете вы можете создать онлайн, оффлайн или гибридное мероприятие, добавить описание и создать кнопку виджета. Мероприятие будет опубликовано на платформе Biletum.",
          image: "content-5"
        },
        {
          toWhom: "Организатору",
          title: "Продажа билетов и регистрация участников",
          text: "Вам доступна настройка сроков продажи и количества билетов. Сегментируйте билеты по типу и стоимости: для VIP посетителей, прессы, фан-зоны. Регистрируйте участников с помощью удобного мобильного приложения для check-in’а.",
          image: "content-6"
        },
        {
          toWhom: "Организатору",
          title: "Партнерская платформа",
          text: "Создайте свою партнерскую сеть из 12800 партнеров Biletum и продавайте больше билетов. Предоставьте партнерам доступные маркетинг-инструменты для увеличения продаж: промокоды, настройка скидок, лидогенерация, email-рассылки.",
          image: "content-7"
        },
        {
          toWhom: "Организатору",
          title: "Контроль и модерация",
          text: "В личном кабинете организатора доступна вся информация о купленных билетах в сети партнеров и агентов. Организатор может легко контролировать продажи партнеров и выплаты, анализировать количество и качество заявок по каждому партнеру.",
          image: "content-8"
        },
        {
          toWhom: "Организатору",
          title: "Статистика и анализ",
          text: "Вам доступна статистика и аналитика результатов продажи во всех каналах и дистрибуция в сети партнеров. Также в платформу интегрированы популярные инструменты для аналитики продажи билетов: Google Analytics и Яндекс.Метрика.",
          image: "content-9"
        }
    ] %}
    {% for promo in promos %}
      {% set promoData = promo %}
      {% include "./blocks/_promo-section.html" %}
    {% endfor %}
  </section>

  {% include "./blocks/_one-tool.html" %}

  {% include "./blocks/_pricing-section.html" %}
  
  {% set clientSlider = {
    title: "128,000 организаторов уже с нами!"
  } %}
  {% include "./blocks/_clients-slider.html" %}

  {% include "./blocks/_clients-reviews.html" %}

  {% include "./blocks/_join-us.html" %}
{% endblock %}

{% block jsPerPage %}
  {% include "./blocks/_clients-swiper-settings.html" %}
{% endblock %}