{% extends "blocks/_layout.html" %}

{% block content %}
  {% set topSectionData = {
    title: "Дистрибуция билетов",
    text: "...в сети из 12 800 партнеров.",
    buttons: true
  } %}
  {% include "./blocks/_top-section.html" %}

  <section class="promo-list">
    {% set promos = [
        {
          toWhom: "Организатору",
          title: "Индивидуальные условия",
          text: "Вы можете предоставлять индивидуальную комиссию для каждого из партнеров. Добавлять дату выполнения и определять удобную систему оплаты. Организаторы могут получить полную или частичную поддержку команды над организацией проекта или предложить свои индивидуальные предложения о сотрудничестве. ",
          image: "content-10"
        },
        {
          toWhom: "Организатору",
          title: "Размещение в каталогах",
          text: "Мероприятие будет автоматически размещено в каталогах ближайших событий Biletum. Наша команда работает над продвижение страниц, что в разы повышает популярность ивента. Благодаря широкой географии и высокой посещаемости, о мероприятии узнает больше людей, что повысит эффективность бизнес-результата.",
          image: "content-11"
        },
        {
          toWhom: "Организатору",
          title: "Привлечение партнеров",
          text: "Многолетний опыт на рынке позволил нам собрать комьюнити из 12 800 активных партнеров. Привлекайте их к сотрудничеству и создавайте свою партнерскую сеть, в которой вы повысите продажи билетов.",
          image: "content-12"
        },
        {
          toWhom: "Организатору",
          title: "Контроль продаж",
          text: "В личном кабинете организатора доступна информация о каналах продаж в сети партнеров. Вы можете контролировать весь процесс дистрибуции.",
          image: "content-13"
        },
        {
          toWhom: "Организатору",
          title: "Оплата партнерам",
          text: "Вы платите только за фактический результат привлечения покупателя и осуществления продажи. Продавайте больше, при меньших затратах.",
          image: "content-14"
        }
    ] %}
    {% for promo in promos %}
      {% set promoData = promo %}
      {% include "./blocks/_promo-section.html" %}
    {% endfor %}
  </section>

  {% include "./blocks/_one-tool.html" %}

  {% set clientSlider = {
    title: "128,000 организаторов уже с нами!"
  } %}
  {% include "./blocks/_clients-slider.html" %}

  {% include "./blocks/_clients-reviews.html" %}

  {% include "./blocks/_join-us.html" %}
{% endblock %}
