{% extends "blocks/_layout.html" %}

{% block content %}
  {% set topSectionData = {
    title: "Универсальная билетная система -<br>Biletum",
    text: "Оптимизируйте рутинные процессы организации мероприятия любого масштаба: от узкопрофильных вебинаров и крупных международных офлайн выставок."
  } %}
  {% include "./blocks/_top-section.html" %}

  {% include "./blocks/_about-us.html" %}

  {% set promos = [
      {
        title: "Более 20 стран",
        text: "Единый билетный оператор в Евразии, ориентированный на деловые мероприятия, включая выставки, форумы и конференции.<br/>Biletum объединяет аудиторию крупнейших мероприятий, включая Китай и Восточную Европу.",
        image: "content-20",
        isLight: true,
        isReverse: true
      }
  ] %}
  {% for promo in promos %}
    {% set promoData = promo %}
    {% include "./blocks/_promo-section.html" %}
  {% endfor %}

  {% include "./blocks/_more-than.html" %}

  {% set clientSlider = {
    title: "30 562 организаторов уже пользуются Biletum"
  } %}
  {% include "./blocks/_clients-slider.html" %}

  {% include "./blocks/_clients-reviews.html" %}

  {% set clientSlider = {
    title: "12 802 партнеров обеспечивают продажу билетов по всему миру."
  } %}
  {% include "./blocks/_partner-slider.html" %}

  {% include "./blocks/_write-about.html" %}

  {% include "./blocks/_our-offices.html" %}
{% endblock %}
