{% extends "blocks/_layout.html" %}

{% block content %}
  {% set topSectionData = {
    title: "Универсальная билетная система -<br>Biletum",
    text: "Оптимизируйте рутинные процессы организации мероприятия любого масштаба: от узкопрофильных вебинаров и крупных международных офлайн выставок."
  } %}
  {% include "./blocks/_top-section.html" %}

  {% set clientSlider = {
    title: "Организаторы",
    description: "У нас есть не только опыт в закрытии технических вопросов организации мероприятий, но и заслуженное имя на мировом уровне. Мы больше десяти лет оттачивали практику, благодаря свыше 10 000 клиентов и 500 000 проведенных ивентов. Организаторы возвращаются и выбирают нас снова, для своих текущих и будущих проектов."
  } %}
  {% include "./blocks/_clients-slider.html" %}

  {% set clientSlider = {
    title: "Партнеры",
    description: "Мы развили наше коммьюнити до 12 800 партнеров в сети; с нами 86 стран. Партнеры привлекают целевую аудиторию соответствующую бизнес-потребностям организаторов. Что мы имеем? Организаторы получают большее число посетителей, а партнеры доход за “качественного” посетителя."
  } %}
  {% include "./blocks/_clients-slider.html" %}
{% endblock %}
