{% extends "blocks/_layout.html" %}

{% block content %}
  {% set topSectionData = {
    title: "Эффективное онлайн мероприятие",
    text: "...с действительно нужными инструментами.",
    buttons: true
  } %}
  {% include "./blocks/_top-section.html" %}

  <section class="promo-list">
    {% set promos = [
        {
          toWhom: "Организатору",
          title: "Создание платформы",
          text: "Автоматическое создание платформы мероприятия в два клика, прямо из личного кабинета. Проводите онлайн мероприятия любого формата, для любого количества участников. ",
          image: "content-15"
        },
        {
          toWhom: "Организатору",
          title: "Бесплатная версия",
          text: "Используйте платформу для трансляции, включая мобильное приложение, и коммуницируйте: обменивайтесь виртуальными визитками и взаимодействуйте даже после проведения мероприятия.",
          image: "content-16"
        },
        {
          toWhom: "Организатору",
          title: "Конференц-холл",
          text: "Модуль позволяет создавать неограниченное количество залов, потоков и сессий. Вы можете разместить лого спонсоров, профайлы спикеров и загружать медийные файлы: видео, документы, презентации и т.д. Во время трансляции доступен живой чат для вопросов посетителей.",
          image: "content-17"
        },
        {
          toWhom: "Организатору",
          title: "Экспо-холл",
          text: "Идеальное решение для организаторов выставок. Вы можете создать виртуальную карту экспозала для навигации, создать виртуальный стенд для размещения материалов компании и создавать переговорные комнаты для коммуникации с посетителями. ",
          image: "content-18"
        },
        {
          toWhom: "Организатору",
          title: "Матчмейкинг",
          text: "Система для назначения встреч, интегрирована в календарь. Вы можете создавать встроенные комнаты переговоров для экспонентов с возможность демонстрации экрана. Уведомлений и напоминаний о встречах.",
          image: "content-19"
        }
    ] %}
    {% for promo in promos %}
      {% set promoData = promo %}
      {% include "./blocks/_promo-section.html" %}
    {% endfor %}
  </section>

  {% include "./blocks/_one-tool.html" %}
  
  {% set clientSlider = {
    title: "128,000 организаторов уже с нами!"
  } %}
  {% include "./blocks/_clients-slider.html" %}

  {% include "./blocks/_clients-reviews.html" %}

  {% include "./blocks/_join-us.html" %}
{% endblock %}
