{% extends "blocks/_layout.html" %}

{% block content %}
  {% set topSectionData = {
    title: "Единый сервис для<br/>организаторов мероприятий",
    buttons: false
  } %}
  {% include "./blocks/_top-section.html" %}

  <section class="promo-list">
    {% set promos = [
        {
          toWhom: "Организатору",
          title: "Билетный сервис",
          text: "Обеспечьте успешную продажу билетов и онлайн-регистрацию на ваше мероприятие",
          image: "content-1",
          buttons: true
        },
        {
          toWhom: "Организатору",
          title: "Сервис дистрибуции ",
          text: "Привлекайте покупателей и обеспечьте рост продажи билетов, используя партнерскую сеть Biletum",
          image: "content-3",
          buttons: true
        },
        {
          toWhom: "Организатору",
          title: "Платформа мероприятия",
          text: "Обеспечьте вашу аудиторию инструментами для успешного участия в мероприятии",
          image: "content-2",
          buttons: true
        },
        {
          toWhom: "Организатору",
          title: "Biletum Finance",
          text: "Предоставьте вашим покупателям 93 метода оплаты и полную поддержку силами нашей команды",
          image: "content-4",
          buttons: true
        }
    ] %}
    {% for promo in promos %}
      {% set promoData = promo %}
      {% include "./blocks/_promo-section.html" %}
    {% endfor %}
  </section>
  
  {% set clientSlider = {
    title: "128,000 организаторов уже с нами!"
  } %}
  {% include "./blocks/_clients-slider.html" %}
  
  {% include "./blocks/_clients-reviews.html" %}

  {% include "./blocks/_join-us.html" %}
{% endblock %}
